@model HealthCare.Templates.ViewModels.AppointmentEmail

<p>
    Dear <strong> Patient</strong>
    <br>
    Information about your appointment status:
</p>

<p>Doctor: @Model.DoctorName </p>
<p>Appointment Date: @Model.AppointmentDate</p>
<p>Appointment Status: @Model.AppointmentStatus</p>

@if (!string.IsNullOrEmpty(Model.DeclineReason))
{
    <p>Cancellation reason: @Model.DeclineReason</p>
}

<br>
<br>

<p>
    Best Regards,
    <br>
    <i>Your HealthCare Team</i>
</p>