@model HealthCare.Templates.ViewModels.WelcomeEmailModel

<p>
    Dear <strong> @Model.Username,</strong>
    <br>
    You're are now part of a community that connects patients and doctors from all over the world.
</p>

<p>
    Find a doctor, treat a patient.
</p>

<br>

<p>
    Best Regards,
    <br>
    <i>Your HealthCare Team</i>
</p>
